<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="LOG.DIR" value="logs" />
    <property name="LOG.PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>
    <appender name="stash_udp"
        class="net.logstash.logback.appender.LogstashSocketAppender">
        <host>192.168.1.93</host>
        <port>55514</port>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!--<customFields>{"appname":"zt_test"}</customFields>-->
        </encoder>
    </appender>
    <appender name="LOG_CAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>
    <appender name="DAYROLLINGFILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG.DIR}/%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG.PATTERN}</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500KB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="LOG_CAT" />
        <appender-ref ref="DAYROLLINGFILE" />
        <appender-ref ref="stash_udp" />
    </root>
</configuration>